{% extends "base.html" %}
{% block title %}Helper Profile{% endblock %}
               {%  block body_helper %}
        
                <div class="helper-profile-header pb-5">
                        <div class="header-bg d-flex align-items-start p-3">

                        </div>

                        <div class="container">
                                <div class="card profile-card shadow-sm border-0 text-center-mb mx-auto" style="max-width:650px;">
                                        <div class="position-absolute top-0 end-0 p-3">
                                                  <a href="/message_chat">
                                                <button class="btn helper-button-orange rounded-pill px-4" type="button">
                                                        Message
                                                </button>
                                                </a>
                                        </div>

                                        <div class="profile-img-container text-center">
                                                <img src="/static/images/user_image_2.png" class="profile-img" width="150px">
                                        </div>

                                        <div class="card-body pt-0">
                                                <h4 class="profile-name mb-1">{{ user_data.name }}</h4>
                                                <p class="mb-3 profile-link">Helper</p>
                                        </div>
                                        <div class="row mt-4">
                                                 <div class="col-4 border-end">
                                                <small class="text-muted text-uppercase d-block"
                                                        style="font-size: 12px;">Location</small>
                                                <span class="fw-bold"> Dundalk</span>
                                        </div>
                                        <div class="col-4 border-end">
                                                <small class="text-muted text-uppercase d-block" style="font-size: 12px;">Community Group</small>
                                                <a href="/community_profile/{{ community_data.name }}" style="color:black !important" class="text-decoration-none">
                                                <span class="fw-bold"> {{ community_data.name }}</span></a>
                                                
                                        </div>
                                        <div class="col-4 border-end">
                                                <small class="text-muted text-uppercase d-block"
                                                        style="font-size: 12px;">Hours Completed</small>
                                                <span class="fw-bold"> 10</span>
                                        </div>
                                
                                </div>
                                </div>

                                <h5 class="fw-bold mb-4 mt-4">
                                        Availability
                                </h5>
                                <div class="card helper-cards">
                                        <div class="list-group list-group-flush shadow-sm-rounded-3">
                                                <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center p-3">
                                                        <div>
                                                                <small class="text-muted text-primary d-block">
                                                                        I work Monday-Thursday 9-5pm, I am available on evenings and Saturdays.
                                                                </small>
                                                        </div>
                                                </span>
                                        </div>
                                </div>

                                <h5 class="fw-bold mb-4 mt-4">
                                        Skills
                                </h5>
                                <div class="card helper-cards">
                                        <div class="list-group list-group-flush shadow-sm-rounded-3">
                                                <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center p-3">
                                                        <div>
                                                                <h5 class="mb-0 fw-bold">
                                                                        Maintenance
                                                                </h5>
                                                                <small class="text-muted text-primary d-block">
                                                                        Home
                                                                </small>
                                                                <small class="text-muted text-primary d-block">
                                                                        Gardening
                                                                </small>

                                                                <h6 class="mb-0 fw-bold mt-3">
                                                                        Trade
                                                                </h6>
                                                                <small class="text-muted text-primary d-block">
                                                                        Plumbing
                                                                </small>
                                                          
                                                        </div>
                                                </span>
                                        </div>
                                </div>

                                  
                                <h5 class="fw-bold mb-4 mt-4">
                                        Active Jobs {{ user_jobs|length }}
                                </h5>
                                <div class="card helper-cards">
                                        <div class="list-group list-group-flush shadow-sm-rounded-3 text-decoration-none">
                                                {% for i in range(user_jobs|length) %}
                                                <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center p-3 text-decoration-none">
                                                        <div>
                                                                <a href="/view_post/{{ user_jobs[i].job_title }}" class="text-decoration-none">
                                                                <h6 class="mb-0 fw-bold text-decoration-none text-dark">
                                                                        {{ user_jobs[i].job_title }}
                                                                </h6>
                                                                </a>
                                                                <small class="text-muted text-primary d-block text-decoration-none">
                                                                        {{ user_jobs[i].short_type }}
                                                                </small>
                                                                <small class="text-muted text-primary d-block text-decoration-none">
                                                                        {{ user_jobs[i].job_description }}         
                                                                </small>
                                                                
                                                        </div>
                                                </span>
                                                {% endfor %}
                                        </div>
                                </div>
                                <h5 class="fw-bold mb-4 mt-4">
                                        Experience
                                </h5>
                                <div class="card helper-cards">
                                        <div class="list-group list-group-flush shadow-sm-rounded-3">
                                                <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center p-3">
                                                        <div>
                                                                <h6 class="mb-0 fw-bold">
                                                                        Build new Park 
                                                                </h6>
                                                                <small class="text-muted text-primary d-block">
                                                                        Heavy Lifting
                                                                </small>
                                                                <small class="text-muted text-primary d-block">
                                                                        Building playground Equipment
                                                                </small>
                                                        </div>
                                                </span>
                                        </div>
                                </div>

                                <h5 class="fw-bold mb-4 mt-4">
                                        Reviews
                                </h5>
                                <div class="card helper-cards">
                                        <div class="list-group list-group-flush shadow-sm-rounded-3">
                                                <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-center p-3">
                                                        <div>
                                                                <small class="text-muted text-primary d-block">
                                                                        "Ryan was so friendly and did a great job!"
                                                                </small>
                                                                <small class="text-muted text-primary d-block">
                                                                        "Very reliable and professional"
                                                                </small>
                                                        </div>
                                                </span>
                                        </div>
                                </div>

                        </div>
                </div>                
                {% endblock %}
</html>