
{% extends "base.html" %}
<title>{% block title %}Add Post{% endblock %}</title>

<body>
    {% block body %}
    <div class="container my-5">
        <h1 class="text-center mb-4"> Add a Job</h1>

        <div class="card shadow-sm mx-auto" style="width: 48rem;">
            <div class="card-body">
                <form id="postForm">
                    <div class="mb-3">
                        <label for="title" class="form-label fw-semibold">Project Title</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <img src="/static/images/tools_icon.svg" width="25" height="25">
                            </span>
                            <input type="text" id="helpout_title" name="helpout_title" class="form-control"
                                placeholder="e.g Build a Community Park" aria-label="Helpout Title" id="title">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="title" class="form-label fw-semibold">Description</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <img src="/static/images/description_icon.svg" width="25" height="25">
                            </span>
                            <input type="text" id="helpout_description" name="helpout_description" class="form-control"
                                placeholder="Describe the Project Goal" aria-label="Helpout Title" id="title">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="title" class="form-label fw-semibold">Area</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <img src="/static/images/location_icon.svg" width="25" height="25">
                            </span>
                            <input type="text" id="helpout_area" name="helpout_area" class="form-control"
                                placeholder="Your town or neighbourhood" aria-label="Helpout Title" id="title">
                        </div>
                    </div>

                    <hr class="my-4">
                    <h4>Add Photos</h4>
                    <p class="text-muted mb-3">Show helpers your Project</p>
                    <button class="btn btn-primary me-2 mr-3" href="#" role="button">
                        <img src="/static/images/upload-solid-full.svg" width="22" height="22">
                        Upload
                    </button>
                    <button class="btn btn-primary" onclick="send_form_data()">Post</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>