{% extends "base.html" %}
<title>{% block title %}Add Post{% endblock %}</title>

<body>
    {% block body %}
    <div class="container my-5">
        <h1 class="text-center mb-4"> Add a Job</h1>

        <div class="card shadow-sm mx-auto" style="width: 48rem;">
            <div class="card-body">
                <form id="job_form">
                    <div class="mb-3">
                        <label for="title" class="form-label fw-semibold">Job Title</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <img src="/static/images/tools_icon.svg" width="25" height="25">
                            </span>
                            <input type="text" id="job_title" name="job_title" class="form-control"
                                placeholder="e.g Fix a leak" aria-label="Job Title" id="title">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label fw-semibold">Description</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <img src="/static/images/description_icon.svg" width="25" height="25">
                            </span>
                            <input type="text" id="job_description" name="job_description" class="form-control"
                                placeholder="Describe the Task" aria-label="Job Description" id="description">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="area" class="form-label fw-semibold">Area</label>
                        <div class="input-group">
                            <span class="input-group-text">
                                <img src="/static/images/location_icon.svg" width="25" height="25">
                            </span>
                            <input type="text" id="job_area" name="job_area" class="form-control"
                                placeholder="Your town or neighbourhood" aria-label="Job Area" id="area">
                        </div>
                    </div>

                    <hr class="my-4">
                    <h4>Add Photos</h4>
                    <p class="text-muted mb-3">Show helpers your task</p>
                    <input class="form-control" type="file" id="job_form_file_multiple">
                    <div class="mb-4"></div>
                    <button class="btn btn-primary" onclick="send_job_data()">Post</button>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
</body>