.hide{
    display: none;
}

.header-bg{
    height: 200px;
    background-color: #85D6D6;
}

.profile-card{
    margin-top: -60px;
    border-radius: 15px;
}

.profile-img-container img{
    margin-top: -75px;
    background-color: white;
}

.profile-card{
    min-width: 160px;
    height: 100%;
    /* overflow: hidden; */
}

.project-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.no-scrollbar::-webkit-scrollbar {display: none;}

.helper-cards{
    border: 2px solid#D57A44 !important;
    border-radius: 5px !important;
}

.helper-cards .list-group-item{
    background-color: transparent !important;
    border:none;
}

.helper-button{
    background-color: #3D6978;
    color: white;
}

div.card.helper-cards{
    background-color: #FFF8F8;
}