.hide{
    display: none;
}

.header-bg{
    height: 200px;
    background-color: #85D6D6;
}

.profile-card{
    margin-top: -60px;
    border-radius: 15px;
}

.profile-img-container img{
    margin-top: -75px;
    background-color: white;
    /* padding: 6px;
    border-radius: 50%;
    box-shadow: 0 10px 25px rgba(0,0,0,0,0.8); */
}


.profile-card{
    min-width: 160px;
    height: 100%;
    /* overflow: hidden; */
}

.project-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.no-scrollbar::-webkit-scrollbar {display: none;}

.helper-cards{
    /* border: 2px solid#D57A44 !important; */
    border: 2px solid  #3D6978 !important;
    border-radius: 5px !important;
}

.helper-cards .list-group-item{
    background-color: transparent !important;
    border:none;
}

.helper-button{
    background-color: white !important;
    border: solid 2px #D57A44 !important;
    color:#D57A44 !important;
}

.helper-button-orange{
    background-color: #D57A44  !important;
    color: white !important;
    border: 2px solid white;
}

div.card.helper-cards{
    background-color: #FFF8F8;
}

.settings-header{
    height: 200px;
    width: 100%;
    aspect-ratio: 3/2;
    padding-top: 40px;
    /* clip-path: ellipse(100% 100% at 50% 0); */
    background: #85D6D6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.profile-circle{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
}

.list-group-item{
    border-color: #3D6978 !important;
}

.list-group{
    border-color: #3D6978 !important; 
}

.list-group-flush > .list-group-item:first-child {
     border-top: 2px solid #3D6978 !important; 
}

.list-group-flush > .list-group-item:last-child {
     border-bottom: 2px solid #3D6978 !important; 
}

.settings-content{
    max-width: 550px;
    margin: 0 auto;
}

/* fonts */
.titles{
    font-size: 28px ;
    font-weight: 600px ;
    line-height: 1.3 ;
}

.sub-titles{
    font-size: 14px;
    font-weight: 500;
    opacity: 0.7;
    text-decoration: none ;
    color: black;
}

/* .nav-title{
    font-size: 15px;
    font-weight: 600;
    color: #3D6978 !important;
} */

.navbar{
    background-color: white !important;
    border-bottom: 3px solid #3D6978;
}

.profile-name{
    font-size: 1.75rem;
    font-weight: 700;
}



.profile-link{
    font-size: 14px !important;
    font-weight: 500 !important;
    opacity: 0.7 !important;
    text-decoration: none ;
    color: black;
}

/* Settings page */
.list-titles{
    /* font-size: 16px !important;
    font-weight: 500px !important;
    line-height: 1.5 !important;
    color: #3D6978 !important; */
    /* color: #D97745 !important; */
} 

body{
    font-family: "Inter", system-ui, sans-serif !important;
    /* font-size: 16px;
    line-height: 1.5;
    color: #1f2d33; */
    color: #1f2d33 !important;
    background-color: #f4f7f6 !important;
}

.list-item{
    font-size: 16px;
    font-weight: 500;
}

/* Helpers profile page */
.profile-img-container img{
    /* margin-bottom: -60px; */
}

h1, h2{
    font-family: 'Source Serif 4', serif;
    font-weight: 700;
}

h3, h4, h5{
    font-family: 'Source Serif 4', serif;
    font-weight: 600;
}


.profile-card{
    background: linear-gradient(180deg,);
    padding-bottom: 6rem;
    height: 300px;
}

/* view post page */
.job-image{
    max-height: 400px;
    object-fit: cover;
}

/* Add project page */
.add-project-card{
    border-radius: 20px;
    border:none;
    background: #ffffff;
    padding: 30px;
}

.soft-input{
    background-color: #ffffff !important;
    border:1px solid #dee2e6 !important;
    border-radius: 10px !important;
    padding: 12px 5px !important;
}

.soft-input:focus{
    border-color: #85D6D6 !important;
    outline:none;
}

.label-muted{
    color: #3D6978;
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
    font-size: 15px;
}

.upload-section{
    border: 2px dashed #85D6D6;
    border-radius: 15px;
    padding: 40px;
    text-align:center;
    background:#fff;
}

.upload-section:hover{
    border-color: #85D6D6;
    background-color: #f0fafa;
}

/* navbar  */
.nav-link{
    color: #6c757d !important;
    font-weight: 500 !important;
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
    text-decoration: none !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.nav-link:hover{
    color: #85D6D6 !important;
}

.nav-link.active{
    color: #3D6978 !important;
}

h6{
    text-decoration: none;
}

/* add job page */

.icon-box{
    background-color: rgba(133, 214, 214, 0.2);
    border-radius: 12px;
    width:45px;
    height:45px;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* index page */
.index-wrapper{
    position: relative;
    overflow: hidden;
    background-color: #f8fbfb;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.index-container{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    z-index:0;
}

.btn-main{
    padding:  14px 40px;
    font-weight: 700;
    border-radius: 15px;
}

.btn-register{
    background-color: #D57A44 !important;
    border:none;
    color: white !important;
}

.btn-login{
    background-color: white !important;
    color: #3D6978 !important;
    border: 2px solid #3D6978 !important;
}

.index-card{
    background: rgba(255, 255, 255, 0.7) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-radius: 30px !important;
    padding: 3rem !important;
    max-width: 600px !important;
    width: 90% !important;
}