/* COMMUNITY PROFILE */
.hide{
    display: none;
}

.btn-teal{
    background-color: #85D6D6 !important;
    color: white !important;
    border: none;
    transition: all 0.3s ease;
}

.btn-teal:hover{
    background-color: #5a92a5 !important;
}

.info-badge{
    transition: all 0.2s ease;
    cursor: pointer;
    text-decoration: none;
    color: #3D6978 !important;
    border: 1px solid #3D6978 !important;
    background-color: white;
}

.info-badge:hover{
    background-color: #3D6978 !important;
    color: white !important;
}

.header-bg{
    height: 180px;
    background: #3D6978;
    background: linear-gradient(90deg, rgba(61, 105, 120, 1) 0%, rgba(133, 214, 214, 1) 50%, rgba(61, 105, 120, 1) 100%);
}

.profile-card{
    margin-top: -60px;
    border-radius: 15px;
}

.profile-img-container img{
    margin-top: -75px;
    background-color: white;
}


.profile-card{
    min-width: 160px;
    height: 100%;
}

.project-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.no-scrollbar::-webkit-scrollbar {display: none;}

.helper-cards{
    border: 2px solid  #3D6978 !important;
    border-radius: 5px !important;
}

.helper-cards .list-group-item{
    background-color: transparent !important;
    border:none;
}

.helper-button{
    background-color: white !important;
    border: solid 2px #D57A44 !important;
    color:#D57A44 !important;
}

.helper-button-orange{
    background-color: #D57A44  !important;
    color: white !important;
    border: 2px solid white;
}

div.card.helper-cards{
    background-color: #FFF8F8;
}

.settings-header{
    height: 200px;
    width: 100%;
    aspect-ratio: 3/2;
    padding-top: 40px;
    background: #85D6D6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.profile-circle{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
}

.list-group-item{
    border-color: #3D6978 !important;
}

.list-group{
    border-color: #3D6978 !important; 
}

.list-group-flush > .list-group-item:first-child {
     border-top: 2px solid #3D6978 !important; 
}

.list-group-flush > .list-group-item:last-child {
     border-bottom: 2px solid #3D6978 !important; 
}

.settings-content{
    max-width: 550px;
    margin: 0 auto;
}

/* fonts */
.titles{
    font-size: 28px ;
    font-weight: 600px ;
    line-height: 1.3 ;
}

.sub-titles{
    font-size: 14px;
    font-weight: 500;
    opacity: 0.7;
    text-decoration: none ;
    color: black;
}

.navbar{
    background-color: #ffffff !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    /* border-bottom: 2px solid #f0f2f5 !important; */
}

.profile-name{
    font-size: 1.75rem;
    font-weight: 700;
}


.profile-link{
    font-size: 14px !important;
    font-weight: 500 !important;
    opacity: 0.7 !important;
    text-decoration: none ;
    color: black;
}

/* Settings page */
.list-titles{
    /* font-size: 16px !important;
    font-weight: 500px !important;
    line-height: 1.5 !important;
    color: #3D6978 !important; */
    /* color: #D97745 !important; */
} 

body{
    font-family: "Inter", system-ui, sans-serif !important;
    /* font-size: 16px;
    line-height: 1.5;
    color: #1f2d33; */
    color: #1f2d33 !important;
    background-color: #f4f7f6 !important;
    /* background-color: #f8fbfb !important; */
}

.list-item{
    font-size: 16px;
    font-weight: 500;
}

/* Helpers profile page */
.profile-img-container img{
    /* margin-bottom: -60px; */
}

h1, h2{
    font-family: 'Source Serif 4', serif;
    font-weight: 700;
}

h3, h4, h5{
    font-family: 'Source Serif 4', serif;
    font-weight: 600;
}


.profile-card{
    background: linear-gradient(180deg,);
    padding-bottom: 6rem;
    height: 300px;
}

/* view post page */
.job-image{
    max-height: 400px;
    object-fit: cover;
}

/* Add project page */
.add-project-card{
    border-radius: 20px;
    border:none;
    background: #ffffff;
    padding: 30px;
}

.soft-input{
    background-color: #ffffff !important;
    border:1px solid #dee2e6 !important;
    border-radius: 10px !important;
    padding: 12px 5px !important;
}

.soft-input:focus{
    border-color: #85D6D6 !important;
    outline:none;
}

.label-muted{
    color: #3D6978;
    font-weight: 600;
    margin-bottom: 6px;
    display: block;
    font-size: 15px;
}

.upload-section{
    border: 2px dashed #85D6D6;
    border-radius: 15px;
    padding: 40px;
    text-align:center;
    background:#fff;
}

.upload-section:hover{
    border-color: #85D6D6;
    background-color: #f0fafa;
}

/* navbar  */

.nav-link{
    color: #4a5568 !important;
    font-weight: 600 !important;
    padding: 10px 18px !important;
    transition: all 0.25s ease !important;
    border-radius: 10px !important;
    gap: 8px !important;
}

.nav-link:hover{
    color: #85D6D6 !important;
    background-color: #f0f7f9;
    transform: translateY(-1px);
}

.nav-link.active{
    color: #D57A44 !important;
    background-color: #f0f7f9 !important;
}

.nav-link i{
    font-size: 1.2rem;
}

.add-nav-btn{
    background-color: #d57a44;
    color: white !important;
    padding: 10px 24px;
    border-radius: 50px;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    gap:8px;
    transition: transform 0.2s ease;
    box-shadow: 0 4px 15px rgba(213, 122, 68, 0.2);
}

.add-nav-btn:hover{
    transform: translateY(-2px);
    color: white !important;
}

h6{
    text-decoration: none;
}

.profile-dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
    animation: fadeIn 0.2s ease-in;
}

.dropdown-toggle::after{
    display: none;
}

.dropdown-menu{
    border-radius: 15px;
    min-width: 120px;
    padding: 10px;
}

.admin-sidebar{
   width: 280px;
   height: 100vh;
   position: sticky;
   top:20px;
   margin: 20px;
   background: #ffffff !important;
   border-radius: 20px !important;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08) !important;
   border: none !important;
   transition: all 0.3s ease;
   z-index: 100;
}

.admin-sidebar .nav-link{
    color: #3D6978;
    font-weight: 500;
    border-radius: 8px;
    transition: 0.3s;
}

.admin-sidebar .nav-link:hover{
    background-color: #f0fafa !important;
    color: #3D6978 !important;
}


#sideBar{
    width: 280px;
    min-width: 280px;
    overflow-x: hidden;
    transition: all 0.3s ease-in-out;
}

#sideBar.closed{
    width: 0 !important;
    min-width: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    opacity: 0;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

#profileMenu{
    padding: 5px 12px;
    border-radius: 50px;
    border: 1px solid #eee;
    transition: 0.2s;
}

#profileMenu:hover{
    background-color: #f8f9fa;
    border-color: #ddd;
}

/* Community Sidebar*/
#openSideBarBtn{
    width: 45px;
    height: 45px;
    border-radius: 50% !important;
    background-color: #3D6978;
    color: white !important;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    position: fixed;
    z-index: 999;
    transition: transform 0.2s, background-color 0.2s;
}

#openSideBarBtn:hover{
    background-color: #d57a44 !important;
    transform:scale(1.1);
}


/* add job page */

.icon-box{
    background-color: rgba(133, 214, 214, 0.2);
    border-radius: 12px;
    width:45px;
    height:45px;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* index page */
.index-wrapper{
    position: relative;
    overflow: hidden;
    background-color: #f8fbfb;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.index-container{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    z-index:0;
}

.index-logo{
    width:auto;
    max-width: 280px;
    max-height: 200px;
    object-fit: contain;
    margin-bottom: 0.5rem;
}

.btn-main{
    padding:  14px 40px;
    font-weight: 700;
    border-radius: 15px;
}

.btn-register{
    background-color: #D57A44 !important;
    border:none;
    color: white !important;
}

.btn-login{
    background-color: white !important;
    color: #3D6978 !important;
    border: 2px solid #3D6978 !important;
}

.index-card{
    background: rgba(255, 255, 255, 0.7) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-radius: 30px !important;
    padding: 3rem !important;
    max-width: 600px !important;
    width: 60% !important;
    position:relative;
    z-index:10;
}

/* Home Page */
.community-group-container{
    text-align: center;
    margin-top: 15px;
}

.search-container{
    max-width: 650px;
    margin: 0 auto;
    position: relative;
}

.search-container .input-group{
    border: 1px solid #dee2e6;
    background-color: white;
}

.search-input{
    border-radius: 50px !important;
    border:1px solid #ddd !important;
}

.search-input:focus{
    outline:none;
    box-shadow: none;
}

.community-group-card{
    border: none;
    border-radius: 25px;
    overflow: hidden;
    background: white;
}

.group-image-container{
    position: relative;
    height: 222px;
}

.group-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Message bubble styling */
.bubble{
    position: relative;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: #85D6D6;
    border-radius: 20px;
    padding: 12px 20px;
    color: #fff;
    display: inline-block;
    max-width: 80%;
    /* allow longer words to move to next line */
    word-wrap: break-word; 
}
.helper-bubble-left{
    background-color: #85D6D6;
    border-bottom-left-radius: 2px;
}

.helper-bubble-left:before{
    content: "";
    bottom: 0;
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 15px solid #85D6D6;
    border-top: 15px solid transparent;
    left:-10px;
}

.community-bubble{
    background-color: #D57A44;
    border-bottom-right-radius: 2px;
}

.community-bubble-right:before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid #D57A44;
    border-top: 10px solid transparent;
    right:-10px;
    bottom: 0;
}


/* Register Page */
.register-container{
    display:flex; 
    max-width: 1000px;
    width: 100%;
    background: white;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
}

.register-side-image{
    flex: 1;
    background-color: #85D6D6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-side-image img{
    max-width: 70%;
    height: auto;
}

.register-form-card{
    flex: 1.2;
    background: white;
    padding:30px;
    border-radius: 10px;
}

.form-group label{
    font-size: 12px;
    color: #3D6978;
    font-weight: 600;
    margin-bottom: 2px;
}

.form-control{
    border-radius: 10px;
    border:1px solid #3D6978;
    padding:10px 15px;
}

.profile-placeholder-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.register-page-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
}

.profile-picture-upload{
    border: 2px dashed #85D6D6;
    border-radius: 15px;
    padding:20px;
    text-align:center;
    margin-top:20px;
}

.role-container{
    display: flex;
    gap:15px;
    margin: 25px 0;
}

.custom-radio-input{
    display: none;
}


.role_card{
    flex: 1;
    border: 1.5px solid #E0E7E9;
    border-radius: 15px;
    padding:15px;
    text-align: center;
    cursor:pointer;
    font-weight: 600;
    color: black;
    transition: 0.3s all ease;
}

.custom-radio-input:checked + .role_card{
    background-color: #85D6D6;
    color: white;
    border-color: #3D6978;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.role_card:hover, .role_card:hover{
    border-color: #85D6D6;
    cursor: pointer;
    background-color: #f8fdfd;
}

.upload-section-register{
    border: 2px dashed #85D6D6;
    border-radius: 15px;
    padding: 10px;
    text-align:center;
    background:#fff;
}

.upload-section-register:hover{
    border-color: #85D6D6;
    background-color: #f0fafa;
}

.signup-btn{
    background-color: #D57A44;
    color: white;
    font-weight: 800;
    padding: 14px 40px;
    border-radius: 50px;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(213,122,68,0.3);
}

.signup-btn:hover{
    background-color: #b56233;
}

.terms-card{
    max-height: 250px;
    overflow-y: auto;
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 10px;
    padding: 15px;
    font-size: 12px;
    color: #6c757d;
    line-height: 2;
}


/* Login Styling */

.login-container{
    display:flex; 
    max-width: 1000px;
    width: 70%;
    background: white;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
}

.login-side-image{
    flex: 1;
    background-color: #85D6D6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.login-side-image img{
    max-width: 100%;
    max-width: 280px;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(0 10px 15px rgba(0,0,0,0.1));
}

.login-form-card{
    flex: 1.2;
    background: white;
    padding:20px;
    border-radius: 10px;
}


.login-page-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-btn{
    background-color: #D57A44;
    color: white;
    font-weight: 800;
    padding: 14px 40px;
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(213,122,68,0.3);
    width: 100%;
}

.login-btn:hover{
    background-color: #b56233;
}

.login-logo{
    max-height: 150px;
    width: auto;
    background: transparent !important;
}

/* MOBILE DESIGN COMMUNITY NAVBAR */
/* Hide mobile navbar on desktop */
.mobile-bottom-nav{
    display: none;
}

@media (max-width: 991px){
    #sideBar{
    display: none !important;
}
.mobile-bottom-nav{
    display: flex !important;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #85D6D6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2000 !important;
}

.mobile-bottom-nav .nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3D6978;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
}

.mobile-bottom-nav .nav-item img{
    margin-bottom: 2px;
}

}

/* MOBILE DESIGN (LOGIN)*/
@media (max-width: 768px){
    .login-page-container{
  align-items: flex-start;
  background-color: #f8f9fa;
}

.login-container{
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    border-radius: 0;
    box-shadow: none;
}

.login-side-image{
    flex: 0 0 25vh;
    width: 100%;
    border-radius: 0;
    padding: 20px;
}

.login-side-image img{
    display: none;
}

.login-side-image::after{
    content: "";
    display:block;
    width: 200px;
    height: 200px;
    background:url("/static/images/templogo6.png") no-repeat center;
    background-size: contain;
}

.login-form-card{
    margin-top: -40px;
    border-radius: 40px 4dvh 0 0;
    padding: 40px 25px;
    z-index: 2;
}

.login-form-card .login-logo{
    display: none;
}}


/* MOBILE DESIGN (REGISTER PAGE)*/
@media (max-width: 768px){
.register-container{
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    border-radius: 0;
    box-shadow: none;
}

.register-form-card{
    margin-top: -40px;
    border-radius: 40px 4dvh 0 0;
    padding: 40px 25px;
    z-index: 2;
}

.register-page-container{
  align-items: flex-start;
  background-color: #f8f9fa;
  padding: 0px;
}

.register-side-image{
    flex: 0 0 25vh;
    width: 100%;
    border-radius: 0;
    padding: 20px;
}

.register-side-image img{
    display: none;
}

.register-side-image::after{
    content: "";
    display:block;
    width: 200px;
    height: 200px;
    background:url("/static/images/templogo6.png") no-repeat center;
    background-size: contain;
}

.register-form-card .register-logo{
    display: none;
}
}

.profile_picture
{
    border:thin solid #aaaaaa;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background: #f7f7f7;
    width:50px;
    height:50px;
}


@media(max-width:991px){
    #projects-section, #jobs-section{
        display: none;
    }

    #projects-section.active, #jobs-section.active{
        display: block;
    }
}

@media(max-width:992px){
    #projects-section, #jobs-section{
        display: block !important;
    }
}

