.hide{
    display: none;
}

.header-bg{
    height: 200px;
    background-color: #85D6D6;
}

.profile-card{
    margin-top: -60px;
    border-radius: 15px;
}

.profile-img-container img{
    margin-top: -75px;
    background-color: white;
}

.profile-card{
    min-width: 160px;
    height: 100%;
    /* overflow: hidden; */
}

.project-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.no-scrollbar::-webkit-scrollbar {display: none;}

