.hide{
    display: none;
}

.header-bg{
    height: 200px;
    background-color: #85D6D6;
}

.profile-card{
    margin-top: -60px;
    border-radius: 15px;
}

.profile-img-container img{
    margin-top: -75px;
    background-color: white;
}

.profile-card{
    min-width: 160px;
    height: 100%;
    /* overflow: hidden; */
}

.project-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.no-scrollbar::-webkit-scrollbar {display: none;}

.helper-cards{
    border: 2px solid#D57A44 !important;
    border-radius: 5px !important;
}

.helper-cards .list-group-item{
    background-color: transparent !important;
    border:none;
}

.helper-button{
    background-color: #3D6978 !important;
    color: white !important;
}

.helper-button-orange{
    background-color: #D57A44  !important;
    color: white !important;
}

div.card.helper-cards{
    background-color: #FFF8F8;
}

.settings-header{
    height: 200px;
    width: 100%;
    aspect-ratio: 3/2;
    padding-top: 40px;
    /* clip-path: ellipse(100% 100% at 50% 0); */
    background: #85D6D6;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.profile-circle{
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
}

.list-group-item{
    border-color: #3D6978 !important;
}

.list-group{
    border-color: #3D6978 !important; 
}

.list-group-flush > .list-group-item:first-child {
     border-top: 2px solid #3D6978 !important; 
}

.list-group-flush > .list-group-item:last-child {
     border-bottom: 2px solid #3D6978 !important; 
}

.settings-content{
    max-width: 700px;
    margin: 0 auto;
}

