<div class="map-container">
  <div id="job-map-edit" style="height: 400px"></div>
  <div class="list-container">
    <gmp-place-search selectable>
      <gmp-place-all-content></gmp-place-all-content>
      <gmp-place-nearby-search-request
        max-result-count="5"
      ></gmp-place-nearby-search-request>
    </gmp-place-search>
  </div>
</div>

<script>
  let center = null
  let map = null
  let jobLocationMarker = null
  

  async function loadJobEditMap() 
  {
    
    const communityId = {{ session["community_id"]}}
    // console.log("community_id="+communityId)

    const response = await fetch(`/api/getCommunityMap/${communityId}`);
    const locationData = await response.json();
    // console.log(locationData)

    const { Map } = await google.maps.importLibrary("maps")
    const { AdvancedMarkerElement } = await google.maps.importLibrary("marker")

    // console.log(locationData)
    map = new google.maps.Map(document.getElementById("job-map-edit"), {
      center: { lat: locationData.lat, lng: locationData.lng },
      zoom: 15,
      mapId: "c11f9394d7bb32ce20bc5b13"
    });
    center = { lat: locationData.lat, lng: locationData.lng }

    const communityMarkerIcon = document.createElement("img")
    communityMarkerIcon.src = locationData.icon_url
    communityMarkerIcon.style.width = "60px"
    communityMarkerIcon.style.height = "60px"

    let communityMarker = new AdvancedMarkerElement({
      map: map,
      position: { lat: locationData.lat, lng: locationData.lng },
      title: locationData.name,
      content: communityMarkerIcon
    })

    // map click
    let firstClick = true
    map.addListener("click", (e) => {
      selectedLat = e.latLng.lat()
      selectedLng = e.latLng.lng()
      // console.log("LatLng to append to FormData - " + selectedLat, selectedLng)
      if(firstClick) {
      placeMarkerAndPanTo(e.latLng, map);
        firstClick = false
      } else {
        replaceMarkerAndPanTo(e.latLng, map)
      }
    });

    function placeMarkerAndPanTo(latLng, map) {
      jobLocationMarker = new google.maps.marker.AdvancedMarkerElement({
        position: latLng,
        map: map,
        content: updateJobMarkerIcon()
      });
      map.panTo(latLng);
    }
    function replaceMarkerAndPanTo(latLng, map) {
      jobLocationMarker.setMap(null)
      jobLocationMarker = new google.maps.marker.AdvancedMarkerElement({
        position: latLng,
        map: map,
        content: updateJobMarkerIcon()
      });
      map.panTo(latLng);
    }
  }
  loadJobEditMap()


  function resetLocation() {
    map.setCenter(center)
  }
</script>
