{% extends "base.html" %} {% block title %}Login{% endblock %} {% block navbar
%}{% endblock %} {% block body %}

<div class="login-page-container">
  <div class="login-container">
    <div class="login-side-image">
      <img src="/static/images/user_icon.svg" alt="Helpouts logo" />
    </div>

    <div class="login-form-card">
      <div class="login-card-content">
        <div class="header mb-4">
          <div class="text-center">
            <img
              src="/static/images/templogo6.png"
              alt="Helpouts logo"
              class="login-logo"
            />
          </div>
          <h2 class="text-center" style="color: #3d6978; font-weight: bold">
            Welcome Back
          </h2>
          <p class="text-muted text-center">
            Enter your details to stay connected.
          </p>
        </div>

        <form action="/login" method="POST">
          <div class="mb-3 mt-3">
            <div class="form-group mb-4">
              {% if error%}
              <p class="error">{{ error }}</p>
              {% endif %}
              <span class="label-muted">EMAIL<span style="color: #d57a44">*</span></span>
              <input id="email" type="email" name="email" aria-label="Email" class="form-control soft-input" placeholder="e.g., janedoe@email.com" autocomplete="off" required/>
            </div>
            <div class="form-group mt-4 mb-4">
              <span class="label-muted"
                >PASSWORD<span style="color: #d57a44">*</span></span>
              <input id="password" name="password" type="password" aria-label="Password" class="form-control soft-input" autocomplete="off" placeholder="Min. 10 characters" required>
            </div>
          </div>

          <div class="d-flex gap-2 mt-4 mb-4">
            <button class="login-btn" type="submit">Sign In</button>
          </div>
          <p class="text-muted mt-4 text-center">
            Don't have an account? <a href="/register_page/">Sign Up</a>
          </p>
        </form>
      </div>
    </div>

    {% endblock %}
  </div>
</div>
