{% extends "base.html" %}
{% block title %}Community Settings{% endblock %}
               {%  block body_community %}

        <div class="profile-page-header pb-5 ">
        <div class="header-bg d-flex align-items-start p-3" style="height: 160px;">
        </div>
        <div class="container" style="margin-top: -80px;">
                <div class="row">
                        <div class="col-lg-8">
                <div class="card shadow-sm border-0 p-4 mb-4" style="border-radius:15px;">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <h2 class="fw-bold mb-1">Manage Job Schedule</h2>
                            <p class="text-muted mb-0">{{ community.name }}</p>
                        </div>
                    </div>
                </div>

            
               
                <!-- <div class="container settings-content">
                        <div class="list-group list-group-flush mt-5">
                        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center gap-3 py-4 list-titles">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event-fill" viewBox="0 0 16 16">
                        <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5"/>
                        </svg>
                        My Calendar
                        </a>
                        
                        <button class="list-group-item list-group-item-action d-flex align-items-center justify-content-between py-4"
                        type="button" data-bs-toggle="collapse" data-bs-target="#projectsDropdown" aria-expanded="false">
                        <div class="d-flex align-items-center gap-3">
                        <a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-kanban" viewBox="0 0 16 16">
                        <path d="M13.5 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-11a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm-11-1a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="M6.5 3a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zm-4 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zm8 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1z"/>
                        </svg>
                        Manage Projects
                        </a>
                        </div>
                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg>
                        </button>

                        <div class="collapse" id="projectsDropdown">
                                <div class="px-3 py-3 bg-light border-top">
                                        <div class="d-flex flex-nowrap overflow-auto gap-3">
                                                {% for project in projects %}
                                                       <div class="card border-0 shadow-sm p-2" style="min-width: 160px">
                                        <img src="/static/images/park.png" class="rounded"
                                                style="height: 120px; object-fit:cover;">
                                                        <div class="pt-2 text-center">
                                                         <p class="mb-0 fw-bold small">
                                                        {{ project.project_title }}
                                                </p>
                                                <small class="text-muted" style="font-size:10px;">15 Jobs
                                                        Available</small>
                                                </div>
                                        </div>
                                                {% endfor %}
                                        </div>
                                </div>
                        </div>


                        <button class="list-group-item list-group-item-action d-flex align-items-center justify-content-between py-4"
                        type="button" data-bs-toggle="collapse" data-bs-target="#projectsDropdown" aria-expanded="false">

                        <div class="d-flex align-items-center gap-3">
                        <a>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-kanban" viewBox="0 0 16 16">
                        <path d="M13.5 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-11a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zm-11-1a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                        <path d="M6.5 3a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zm-4 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1zm8 0a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1z"/>
                        </svg>
                        Manage Jobs
                        </a>
                        </div>
                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                        </svg>
                        </button>

                        <div class="collapse" id="projectsDropdown">
                                <div class="px-3 py-3 bg-light border-top">
                                        <div class="d-flex flex-nowrap overflow-auto gap-3">
                                                 {% for i in range(jobs|length) %}
                        <a href="/view_post/{{ jobs[i].job_title }}"
                                class="list-group-item list-group-item-action d-flex justify-content-between align-items-center p-3">
                                <div>
                                        <h6 class="mb-0 fw-bold">{{ jobs[i].job_title }}</h6>
                                        {% for j in range(project_names|length) %}
                                        {% if project_names[j].id == jobs[i].project_id %}
                                        <small
                                                class="text-muted text-primary">{{ project_names[j].project_title }}</small>
                                        {% endif %}
                                        {% endfor %}
                                </div>
                                <span class="badge bg-success rounded-pill">Available</span>
                        </a>
                        {% endfor %}
                                        </div>
                                </div>
                        </div>

                
                       
          
                        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center gap-3 py-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass" viewBox="0 0 16 16">
                        <path d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5m2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702c0 .7-.478 1.235-1.011 1.491A3.5 3.5 0 0 0 4.5 13v1h7v-1a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351v-.702c0-.7.478-1.235 1.011-1.491A3.5 3.5 0 0 0 11.5 3V2z"/>
                        </svg>Pending Requests</a>
                        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center gap-3 py-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                        </svg>All Helpers</a>
                        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center gap-3 py-4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                        </svg>Edit Details</a>
                        </div>
                </div> -->

                   
      <!-- <div class="card shadow-sm border-0 p-4 mb-4" style="border-radius:15px;">
                <h6 class="fw-bold mb-3">Quick Actions</h6>
                <a href="/add_project" class="btn rounded-pill mb-2 text-start">Create New Project</a>
                <a href="/inbox" class="btn rounded-pill mb-2 text-start">Messages</a>
                </div> -->

<div class="d-flex align-items-start mb-3">
              <p class="small text-muted mb-0">
                
              </p>
            </div>

<div class="wrapper">
  <table>
    <tr>
      <th>Time</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
    </tr>
    <tr>
      <td class="text-center align-middle fw-bold"> 9:00</td>
      <td>
        <div class="status-card-helper text-center">
            <div class="fw-bold"><img src="/static/images/tools_icon.svg" width="19" height="19"> Park Benches</div>
            <div class="small"><img src="/static/images/user_icon.svg" width="19" height="19"> Jemma Simmons</div>
        </div>
        </td>

        </td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
    </tr>
    <tr>
      <td class="fw-bold">10:00</td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
       <td>
        <div class="status-card-helper text-center">
            <div class="fw-bold"><img src="/static/images/tools_icon.svg" width="19" height="19">Sort Collected Waste</div>
            <div class="small"><img src="/static/images/user_icon.svg" width="19" height="19">Leo Fitz</div>
        </div>
        </td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
    </tr>
    <tr>
      <td class="fw-bold">11:00</td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
    </tr>
    <tr>
      <td class="fw-bold">12:00</td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
    </tr>
    <tr>
      <td class="fw-bold">13:00</td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td>
        <div class="status-card-urgent text-center">
            <div class="fw-bold"><img src="/static/images/tools_icon.svg" width="19" height="19">Collect Litter</div>
            <div class="small"> <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                                    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"/>
                                    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
                                    </svg>Helper Needed</div>
        </div>
        </td>
    </tr>
    <tr>
      <td class="fw-bold">14:00</td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
    </tr>
    <tr>
      <td class="fw-bold">15:00</td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
    </tr>
    <tr>
      <td class="fw-bold">16:00</td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
    </tr>
    <tr>
      <td class="fw-bold">17:00</td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
      <td contenteditable=""></td>
    </tr>
  </table>
</div>

                {% endblock %}

