{% extends "base.html" %}
{% block title %}Requests{% endblock %}
               {%  block body_community %}
<div class="profile-page-header pb-5 ">
        <div class="header-bg d-flex align-items-start p-3" style="height: 160px;">
        </div>
        <div class="container" style="margin-top: -80px;">
                <div class="row">
                        <div class="col-lg-8">
                <div class="card shadow-sm border-0 p-4 mb-4" style="border-radius:15px;">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1">
                            <h2 class="fw-bold mb-1">Request Management</h2>
                            <p class="text-muted mb-0">{{ community.name }} Active Requests</p>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center mb-3 px-2">
                    <h5 class="fw-bold mb-0">Helper Requests</h5>
                    <span class="ms-2 badge rounded-pill" style="color: #D57A44;">2 New</span>
                </div>

                <div class="row g-3 mb-4">
                    <div class="col-md-6">
                        <div class="card shadow-sm border-0 p-1 mb-4" style="border-radius:15px;">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="/static/images/user_icon.svg" class="rounded-circle me-3" width="45">
                                    <div>
                                        <h6 class="mb-0 fw-bold">Ryan O'Hare</h6>
                                        <small class="text-muted">Sent 2h ago</small>
                                    </div>
                                </div>
                                <p class="small text-secondary mb-3">
                                    <a href="/helper_profile/Ryan_O'Hare" class="text-decoration-none text-muted">
                                    View Profile
                                </a></p>
                                <div class="d-flex gap-2">
                                    <button class="btn btn-success btn-sm rounded-pill">Accept</button>
                                    <button class="btn btn-danger btn-sm rounded-pill px-3">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card shadow-sm border-0 p-1 mb-4" style="border-radius:15px;">
                            <div class="card-body">
                                <div class="d-flex align-items-center mb-3">
                                    <img src="/static/images/user_icon.svg" class="rounded-circle me-3" width="45">
                                     <div>
                                        <h6 class="mb-0 fw-bold">Jemma Simmons</h6>
                                        <small class="text-muted">Sent 2h ago</small>
                                    </div>
                                </div>
                                <p class="small text-secondary mb-3">
                                    <a href="/helper_profile/Ryan_O'Hare" class="text-decoration-none text-muted">
                                    View Profile
                                </a></p>
                                <div class="d-flex gap-2">
                                    <button class="btn btn-success btn-sm rounded-pill">Accept</button>
                                    <button class="btn btn-danger btn-sm rounded-pill px-3">Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <h5 class="fw-bold mb-3">Job Requests</h5>
                <div class="card shadow-sm border-0 p-3 mb-3" style="border-radius:15px; border-left:5px solid #85D6D6 !important;">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <div class="bg-light rounded-3 me-3 text-center" style="width: 55px">
                                <img src="/static/images/tools_icon.svg" width="24">
                            </div>
                            <div>
                                <h6 class="mb-0 fw-bold">Install park benches</h6>
                                <p class="small text-muted mb-0">Helper:<strong>Daisy Johnson</strong></p>
                            </div>
                        </div>
                        <div class="d-flex gap-2">
                        <button class="signup-btn rounded-pill px-4 btn-sm ">Accept</button>
                        <button class="btn btn-teal rounded-pill px-4 btn-sm">Message</button>
                        </div>
                    </div>
                </div>
                </div>

        <div class="col-lg-4">
            <div class="sticky-top" style="top:20px;">
                <div class="card shadow-sm border-0 p-4 mb-4" style="border-radius:15px;">
                <h6 class="fw-bold mb-3">Community Insights</h6>
                    <div class="d-flex justify-content-between mb-2">
                        <span class="text-muted small">Helper Requests</span>
                        <span class="fw-bold small">4</span>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <span class="text-muted small">Job Requests</span>
                        <span class="fw-bold small">2</span>
                    </div>
                </div>
            </div>
        </div>

         <div class="d-flex align-items-start mb-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-info-circle-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"
                />
              </svg>
              <p class="small text-muted mb-0 ml-1">
                Once accepted, Helpers can view community projects and start contributing to active jobs
              </p>
            </div>
</div>
</div>

  
               {% endblock %}