<div class="container mt-4" style="max-width: 750px">
  <h1 class="text-center fw-bold mb-4">Inbox</h1>

  <ul class="nav nav-fill border-bottom-0" id="inboxOptions">
    <li class="nav-item">
      <a class="nav-link text-decoration-none text-dark" href="/inbox"
        >Messages 2</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link text-decoration-none text-dark" href="/message_chat"
        >Notifications 3</a
      >
    </li>
  </ul>

  <div class="tab-content border border-top-0 rounded-bottom shadow-sm">
    <div class="tab-pane fade show active" id="messages">
      <div class="list-group list-group-flush">
        {% if session["community_id"] %}
        {% for i in range(all_users|length) %}
        <!-- link to user chat -->
         <form action="/message_chat/", method="POST">
           <button
          type="submit"
          class="list-group-item list-group-item-action p-3"
        >
        <div class="d-flex w-100 justify-content-between">
            <div class="d-flex align-items-center">
              <img src="{{ all_users[i].profile_picture }}" width="60" height="60" class="rounded-circle me-3">
              <div>
                <input type="number" name="id" style="display:none" value="{{ all_users[i].id }}">
                <h6 name="helper_name" class="mb-0 fw-bold">{{ all_users[i].name }}</h6>
                <small class="text-muted mt-1">
                  Hi, I would love to work with Men's Sheds. What projects are
                  available?
                </small>
              </div>
            </div>
            <small class="text-muted">2 hours ago</small>
          </div>
        </button>
         </form>
       
        {% endfor %}
        {% else %}
        {% for i in range(users_community|length) %}
        <!-- link to user chat -->
         <form action="/message_chat/", method="POST">
           <button
          type="submit"
          class="list-group-item list-group-item-action p-3"
        >
        <div class="d-flex w-100 justify-content-between">
            <div class="d-flex w-100 justify-content-between">
            <div class="d-flex align-items-center">
              <img src="{{ users_community[i].profile_picture }}" width="60" height="60" class="rounded-circle me-3">
              <div>
              <input type="number" name="id" style="display:none" value="{{ users_community[i].id }}">
                <h6 class="mb-0 fw-bold">{{ users_community[i].name }}</h6>
                <small class="text-muted mt-1">
                That's great Ryan. We have lots of projects waiting to kick off, is there anything in particular you would be interested in?
                </small>
              </div>
            </div>
            <small class="text-muted">3 hours ago</small>
          </div>
        </button>
         </form>
        {% endfor %}
        {% endif %}
      </div>  
    </div>
  </div>
</div>
<script>
  function storeId(id){
  
  }
  function stringToArrayBuffer(str) {
    const buf = new ArrayBuffer(str.length * 2);
    const bufView = new Uint16Array(buf);
    for (let i = 0, strLen = str.length; i < strLen; i++) {
      bufView[i] = str.charCodeAt(i);
    }
    return buf;
  }

  window.onload = async function get_private_key() {
    //console.log("clicked")

    const key_pair = await window.crypto.subtle.generateKey(
      {
        name: "RSA-OAEP",
        modulusLength: 4096,
        publicExponent: new Uint8Array([1, 0, 1]),
        hash: "SHA-256",
      },
      true,
      ["encrypt", "decrypt"],
    );

    const public_key = key_pair.publicKey;
    const private_key = key_pair.privateKey;

    //console.log("pub:\n", public_key)
    //console.log("priv:\n", private_key)

    const exported_private_key = await window.crypto.subtle.exportKey(
      "pkcs8",
      private_key,
    );
    const encoded_private_key = String.fromCharCode.apply(
      null,
      new Uint8Array(exported_private_key),
    );
    const ascii_private_key = window.btoa(encoded_private_key);
    const base64_private_key = [
      "-----BEGIN PRIVATE KEY-----",
      ascii_private_key.replace(/(.{80})/g, "$1\n"),
      "-----END PRIVATE KEY-----",
    ].join("\n");

    const exported_public_key = await window.crypto.subtle.exportKey(
      "spki",
      public_key,
    );
    const encoded_public_key = String.fromCharCode.apply(
      null,
      new Uint8Array(exported_public_key),
    );
    const ascii_public_key = window.btoa(encoded_public_key);
    const base64_public_key = [
      "-----BEGIN PUBLIC KEY-----",
      ascii_public_key.replace(/(.{80})/g, "$1\n"),
      "-----END PUBLIC KEY-----",
    ].join("\n");

    const public_key_PEM = base64_public_key;
    const public_key_string = public_key_PEM
      .replaceAll(/^\-+[^\-]+\-+$/gm, "")
      .replace(/\n/gm, "");
    const b64_public_decoded_string = atob(public_key_string);
    const spki_public_key_data = this.stringToArrayBuffer(
      b64_public_decoded_string,
    );

    const public_key_encrypt = await crypto.subtle.importKey(
      "spki",
      spkiKeyData,
      {
        name: "RSA-OAEP",
        hash: "SHA-256",
      },
      true,
      ["encrypt", "verify"],
    );

    const private_key_PEM = base64_private_key;
    const private_key_string = public_key_PEM
      .replaceAll(/^\-+[^\-]+\-+$/gm, "")
      .replace(/\n/gm, "");
    const b64_private_decoded_string = atob(private_key_string);
    const spki_private_key_data = this.stringToArrayBuffer(
      b64_private_decoded_string,
    );

    const private_key_encrypt = await crypto.subtle.importKey(
      "pkcs8",
      spkiKeyData,
      {
        name: "RSA-OAEP",
        hash: "SHA-256",
      },
      true,
      ["decrypt", "sign"],
    );

    //console.log(base64_private_key)
    //console.log(base64_public_key)
    fetch("/generate_keys", {
      headers: {
        "Content-Type": "application/json",
      },
      method: "POST",
      body: JSON.stringify({
        private_key: base64_private_key,
        public_key: base64_public_key,
      }),
    });
  };
</script>
