<div class="chat-container">
  <header class="p-3 bg-white border-bottom d-flex align-items-center">
   <a href="/inbox/" class="me-3">
      <img src="/static/images/arrow-left.svg" width="24" height="24" class="message-back-arrow">
    </a>
    

    {% if session["community_id"] %}
    <div class="d-flex align-items-center">
    <img
            src="{{ AWS_BUCKET }}users/{{ user[0].id }}/profile-picture/profile-picture-s.jpg"
            width="40"
            height="40"
            class="header-profile-img rounded-circle me-2"
          />
          <a class="text-decoration-none text-dark" href="/helper_profile/{{ user[0].name }}">
            <h6 id="helper_id" class="mb-0 fw-bold header-name" style="font-size: 0.9rem;">{{ user[0].name }}</h6>
          </a>
        </div>
        {% else %}
        <div class="d-flex align-items-center">
          <img
            src="{{ AWS_BUCKET }}communities/{{ community[0].id }}/profile-picture/profile-picture-s.jpg"
            width="40"
            height="40"
            class="header-profile-img rounded-circle me-2"
          />
          <a class="text-decoration-none text-dark" href="/community_profile/{{ community[0].name }}">
            <h6 class="mb-0 fw-bold header-name" style="font-size: 0.9rem;">{{ community[0].name }}</h6>
          </a>
        </div>
         {% endif %}
         </header>
  {% if message_history is not none %}
         {% for message in range(message_history|length) %}
         <div class="d-flex mb-4 gap-2">

                <img src="{{ session['profile_picture'] }}" width="50" height="50" class="rounded-circle me-3"/>

                <div class="d-flex flex-column">
                        <div class="d-flex align-items-baseline gap-2 mb-1">
                            <span class="fw-bold small">{{ sender_user.name}}</span>
                             <span class="text-muted">{{ message_history[message].timestamp.strftime("%H:%M") }}</span>
                        </div>
                        <div class="bubble ${isSender ? 'bubble-message-sent': 'bubble-message-received' }">
                                  {{ message_history[message].content }}
                        </div>
                    </div>
                </div>
         {% endfor %}
         {% endif %}

         
  <div id="messages" class="messages-container">
  </div>

  <footer class="chat-input-area">
    <div class="input-group rounded-pill">
      <input id="user_message" type="text" class="form-control border-0 bg-transparent shadow-none" placeholder="Enter your message...">
       {% if session["community_id"] %}
    <button
        class="btn sendBtn shadow-sm"
        onclick="send_message('{{ user[0].id }}', '{{ user[1] }}', 'community')"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="white"
          class="bi bi-send"
          viewBox="0 0 16 16"
        >
          <path
            d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
          />
        </svg>
      </button>
    {% else %}
    <button
      class="btn sendBtn shadow-sm"
      onclick="send_message('{{ community[0].id }}', '{{ community[1] }}', 'user')"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        fill="white"
        class="bi bi-send"
        viewBox="0 0 16 16"
      >
        <path
          d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"
        />
      </svg>
    </button>
    {% endif %}
    </div>
  </footer>
  </div>



<script>
  let time = new Date();
  var socket = io("http://127.0.0.1:5000/");
  var user = {};
  socket.on("connect", function () {
    socket.emit("join_room");
    console.log("CONNECTED!!!");
  });
  
  let myId = Number("{{ user[1] if session.get('community_id') else community[1] }}")
  
  function create_message(sender_id, user, message_received, sent, profile_picture) {
    message = document.getElementById("messages");

    let isSender = (Number(sender_id) === Number(myId))

    console.log("comparing sender id", sender_id, "my id:" , myId, "is sender", isSender)

    messageContent = `
        <div class="d-flex mb-4 gap-2 ${isSender ? 'justify-content-end text-end': 'justify-content-start text-start'}">

                ${!isSender ? `<img src="${profile_picture}" width="50" height="50" class="rounded-circle me-3">`: ''}  

                <div class="d-flex flex-column ${isSender ? 'align-items-end' : 'align-items-start'}">
                        <div class="d-flex align-items-baseline gap-2 mb-1">
                            <span class="fw-bold small">${isSender ? 'You': user}</span>
                             <span class="text-muted">${sent}</span>
                        </div>
                        <div class="bubble ${isSender ? 'bubble-message-sent': 'bubble-message-received' }">
                                  ${message_received}
                        </div>
                    </div>
                </div>`;

    message.innerHTML += messageContent;
    console.log("MESSAGE CREATED!!!");
  }

  socket.on("message", (data) => {
    console.log("MESSAGE DISPLAY FUNCTION REACHED!!!");
    create_message(data.sender_id,data.user, data.message, data.sent, data.profile_picture);
  });
  
  function send_message(receiver_id, sender_id, sender, user_type) {

    console.log("MESSAGE SEND FUNCTION REACHED!!!");
    user_message = document.getElementById("user_message").value;
      socket.emit("message_sent", {
      sender_id: parseInt(sender_id),
      receiver_id: parseInt(receiver_id),
      message: user_message,
      sender: sender
    })
    
    
    document.getElementById("user_message").value = "";
  }
</script>

